body {

}

.alert {
    /* Ми додали відстань лише зверху елемента: -top */
    margin-top: 10px;
}
.img-circle {

}
#footer {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}


#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}